:root{
    --PrimaryColor: #000000;
    --SecondaryColor: #292A29;
    --TertiaryColor: #6C2905;
    --CuartenaryColor: #232239;
    --FontColor: #FFFFFF;
    --BorderColor: #AAAAAA;
    --FontSpecific: #BBB4CF;
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
nav{
    border: 1px solid var(--BorderColor);
    width: 15%;
    position: absolute;
    top: 0;
    max-height: 100vh;
    height: 100%;
    color: var(--FontColor);
    padding: 5px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-top: 10px;
}
nav h1{
    font-size: 2em;
    letter-spacing: 1px;
    font-weight: 600;
    text-align: center;
    color: var(--FontSpecific)
}
nav .content--sidebar{
    width: 100%;
    height: 180px;
    padding: 2px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 10px;
}
/*Boton de novedades*/
nav .content--sidebar button{
    width: 90%;
    padding: 1px;
    font-size: 0.7em;
    font-weight: 500;
    letter-spacing: 1px;
    background-color: var(--TertiaryColor);
    color: var(--FontSpecific);
    cursor: pointer;
    border-radius: 20px;
    border: 2px solid var(--PrimaryColor);
    transition: background-color .1s linear, border .1s linear;
}
nav .content--sidebar button:hover{
    background-color: var(--PrimaryColor);
    border: 2px solid var(--SecondaryColor);
}
/*Routas de las demas paginas*/
nav .content--sidebar ul{
    width: 90%;
    height: 145px;
    list-style: none;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 2px;
}
nav .content--sidebar ul li{
    border-bottom: 2px solid var(--BorderColor);
    padding: 3px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition:  background .1s linear;
}
nav .content--sidebar ul li:hover{
    background: linear-gradient(to right, var(--CuartenaryColor), var(--PrimaryColor));
}
nav .content--sidebar ul li a{
    text-decoration: none;
    font-size: 1em;
    color: var(--FontSpecific);
    width: 100%;
}
/*Parte del sidebar de los juegos mas jugados*/
nav .Most--Played{
    width: 100%;
    padding: 2px;
    height: 395px;
    display: flex;
    flex-flow: column wrap;
    gap: 2px;
}
nav .Most--Played h2{
    font-size: 1em;
    border-bottom: 2px solid var(--BorderColor);
    letter-spacing: 1px;
    font-weight: 500;
}
nav .Most--Played .Most--videoGame{
    padding: 3px;
    height: 360px;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    overflow-y: auto;
    scroll-behavior: smooth;
}
nav .Most--Played .Most--videoGame::-webkit-scrollbar{
    width: 5px;
    background-color: transparent;
}
nav .Most--Played .Most--videoGame::-webkit-scrollbar-thumb{
    border-radius: 10px;
    width: 1px;
    background-color: var(--FontSpecific);
}
nav .Most--Played .Most--videoGame article{
    border-bottom: 1px solid var(--SecondaryColor);
    display: flex;
    width: 100%;
    justify-content: left;
    align-items: center;
    padding: 3px;
    gap: 10px;
    transition: background .1s linear;
}
nav .Most--Played .Most--videoGame article:hover{
    background: linear-gradient(to right, var(--PrimaryColor), var(--SecondaryColor));
}
nav .Most--Played .Most--videoGame article img{
    width: 55px;
    height: 55px;
    border: 2px solid var(--CuartenaryColor);
    transition: padding .1s linear, border .1s linear;
    cursor: pointer;
}
nav .Most--Played .Most--videoGame article img:hover{
    padding: 2px;
    border: 2px solid var(--FontSpecific);
}
nav .Most--Played .Most--videoGame article div{
    display: flex;
    flex-flow: column wrap;
}
nav .Most--Played .Most--videoGame article div #Name--videoGame{
    font-size: 0.8em;
    letter-spacing: 1px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100px;
}
#Most--played{
    font-size: 0.6em;
    letter-spacing: 1px;
}