<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website-VideoGame || Register</title>
    <link rel="stylesheet" href="../../../public/Css/auth/register.css">
</head>
<body>
    <main>
        <form>
            <h1>GameDesc</h1>
            <div class="Input--Container">
                <label for="Name-user">Name</label>
                <div>
                    <input type="text" placeholder="Enter your first name" id="Name-User" name="Name" required>
                </div>
            </div>
            <div class="Input--Container">
                <label for="Last-name">Last Name</label>
                <div>
                    <input type="text" placeholder="Enter your last name" id="Last-user" name="Last-name" required>
                </div>
            </div>
            <div class="Input--Container">
                <label for="Email-user">Email</label>
                <div>
                    <input type="email" placeholder="Enter your email" id="Email-user" name="Email" required>
                </div>
            </div>
            <div class="Input--Container">
                <label for="Password-user">Password</label>
                <div>
                    <input type="password" placeholder="Enter your password" id="Password-user" name="Password" required>
                </div>
            </div>
            <div class="Input--Container">
                <label for="UserName">Username</label>
                <div>
                    <input type="text" placeholder="Enter your username in GameDesc" id="UserName" name="Username" required>
                </div>
            </div>
            <button type="button" id="Sign_up">Sign Up</button>
        </form>
    </main>
</body>
<script src="../../../public/Js/auth/Register.js"></script>
</html>